<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <title>Weather report</title>
    <body>
        {{>header}}
        <h3><b>About : </b></h3>
        <p>Developed by {{Name}}:-)</p>
        {{>footer}}
    </body>
</html>