<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <title>Weather report</title>
    <body>
        {{>header}}
        <h3><b>Help : </b></h3>
        <p>How can i help you   ..{{title}}</p>
        {{>footer}}
    </body>
</html>