<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <title>Weather report</title>
    <body><div>
        {{>header}}
        <h3><b>Weather Report : </b></h3>
        <p>The weather is static in your area<br>
        {{title}} <br>
        <form id="form">
            <input name="address" placeholder="Enter Location">
            <button>Search</button>
        </form>    
        <p id="Error"></p>
        <p id="Data"></p>
        </div>
        {{>footer}}
        </p><script src = "/js/app.js"></script>
    </body>
</html>